--extra-index-url https://download.pytorch.org/whl/cpu

flask
python-dotenv

langchain
langchain-community
langchain-pinecone

pinecone[grpc]
pypdf

sentence-transformers==2.2.2
huggingface-hub==0.14.1
tokenizers==0.13.3
torch==2.5.1+cpu
